:root {
    font-family: 'Orbitron', sans-serif;
    font-weight: 0;
    background-color:#BFBBB7;
    
}

#titleheader{
    font-size: 70px;
    font-weight: 0;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar > ul > li {;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}

.nav-list{
    display: none;
}

video {
    width: 100vw;
    height: 100vh;
    
}

#menunav {
    height: 150px;
    rotate:  270deg;
}

.copyright {
    font-size: 10px;
    text-align: center;
    color: #000;
}