:root {
    font-family: 'Orbitron', sans-serif;
    font-weight: 0;
    background-color:#BFBBB7;
    
}

#titleheader{
    font-size: 70px;
    font-weight: 0;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-bar{
    position: relative;
    left: 1vw;
    bottom: 50vh;
}

.nav-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar > ul > li {;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    
}
a {
    text-decoration: none;
    color: #000;
}




video {
    width: 100vw;
    height: 100vh;
    
}



.copyright {
    position: relative;
    bottom: 10vh;
    font-size: 10px;
    text-align: center;
    color: #000;
}

#menunav:hover{
    rotate: 180deg;
}
/*  
conceito pagina style  */

.conceitotext {
    columns: 2;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}

.conceitoheader{
    display: flex;
    align-items: center;
    overflow: auto;
}

#conceito1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    font-size:7vh;
    overflow: auto;

}

#cletterconceito {
    font-size:5vh;
    color: #000;
    margin-left: 1em;
}

.nav_conceito {
    margin-top: 20em;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
}

/* memoria descritiva style  */

.memdescheader{
    display: flex;
    align-items: center;
    overflow: auto;
}

.memdesctext{
    columns: 1;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}

#memdesch{
        display: flex;
        justify-content: flex-start;
        padding-left: 0.3em;
        font-size:7vh;
        overflow: auto;
    
    
}

#clettermem{
    font-size:5vh;
    color: #000;
    margin-left: 1em;
}
#youtubelink1{
    color: red;
}

.cletter2 {
    font-size:3.5vh;
    color: #000;
    margin-left: 1em;
}

/* style montra  */

#videomontra{
    width: 100vw;
    height: 100vh;
}

#montraheader{
    display: flex;
    align-items: center;
    overflow: auto;
}

.montratext{
    columns: 2;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}

#montra1{
        display: flex;
        justify-content: flex-start;
        padding-left: 0.3em;
        font-size:7vh;
        overflow: auto;
    
    
}

#clettermontra{
    font-size:5vh;
    color: #000;
    margin-left: 1em;
}

/* publico alvo style  */

.imagenspublico {
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

}
.imagenspublico1, .imagenspublico2 {
    display: flex;
    flex-direction: column;
}

.imagenspublico1{
    margin-top: 20em;
}

.imagenspublico > .imagenspublico1,  .imagenspublico2 {
    width: 50vw;
    height: 80vh;
}

#cletterpublico{
    font-size:5vh;
    color: #000;
    margin-left: 1em;
}

.publicotext{
    columns: 1;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}


/* layout style page  */

.layouttext , .luztext, .sitetext {
    columns: 1;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}

.imglay {
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#igm1, #igm2, #igm3 {
    width: 50vw;
    height: 80vh;
}

#cletterlay{
    font-size:3vh;
    color: #000;
    margin-left: 1em;
}

.luzimg {
        margin-right: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
#imgl1, #imgl2 {
    width: 50vw;
    height: 80vh;
}

.siteimg{
    display: flex;
    justify-content: center;
}

#lay1, #publico1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.3em;
    font-size:7vh;
    overflow: auto;
}

/* descriçao artigos style  */

.desctext {
    columns: 2;
    font-size: 2vh;
    gap: 80px;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
    line-height: 30px;
}

#roupa {
    height: 80vh;
    width: auto;
}

.imgdesc{
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

#cletterdesc{
    font-size:3vh;
    color: #000;
    margin-left: 1em;
}

#descheader{
    display: flex;
    align-items: center;
    overflow: auto;
}

#desc1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
    font-size:7vh;
    overflow: auto;

}